@use "sass:map";

@import 'bootstrap/scss/bootstrap';


$prefix: 'custom-';

// Colors
$primary : #5B4840;
$secondary: #93796D;
$light: #D9D9D9;

// Text Color

$primary-text-emphasis: $secondary;

// Background

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light
);

$body-bg: $light;

@each $color, $value in $theme-colors {
    .bg-#{$color} {
        background-color: $value !important;
    }

    .text-#{$color} {
        color: $value !important;
    }
}

// FONTS
$paragraph-margin-bottom : 0rem;

// headings
$headings-font-family: 'labrada', sans-serif;
$headings-font-style: bold;
$headings-font-weight: 500;
$headings-line-height: .8;
$headings-color: $primary;

$h1-font-size: $font-size-base * 9.375; // 150px
$h2-font-size: $font-size-base * 5; // 80px
$h3-font-size: $font-size-base * 3; // 48px
$h4-font-size: $font-size-base * 2.5; // 40px
$h5-font-size: $font-size-base * 2; // 32px


$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size
);

$font-weight-base: $font-weight-light;

// LINKS
$nav-link-color: $light;
$nav-link-hover-color: $secondary;
$nav-link-active-color: $secondary;
$nav-link-active-bg: $primary;

$nav-link-padding-x: 1rem;
$nav-link-padding-y: .5rem;

$link-decoration: none;
$link-color: $primary;
$link-hover-color: $secondary;

// CONTAINERS

$container-max-widths: (
    sm: 640px,
    md: 900px,
    lg: 1100px,
    xl: 1200px,
    xxl: 1320px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

//LISTS

$list-group-color: $primary;
$list-group-bg: $white;

$list-group-active-color: $white;
$list-group-active-bg: $primary;
$list-group-active-border-color: $primary;


//SPACING
$custom-spacers: (
    6: $spacer * 4.5,
    // 72px
    7: $spacer * 6,
    // 96px
    8: $spacer * 8,
    // 128px
    9: $spacer * 10,
    // 160px
    10: $spacer * 12,
    // 192px
    11: $spacer * 14,
    // 224px
    12: $spacer * 16 // 256px
);

$spacers : map-merge($spacers, $custom-spacers);

$utilities: map-merge($utilities, ("padding": (responsive: true,
                property: padding,
                class: p,
                values: $custom-spacers ),
            "padding-top": (responsive: true,
                property: padding-top,
                class: pt,
                values: $custom-spacers ),
            "padding-bottom": (responsive: true,
                property: padding-bottom,
                class: pb,
                values: $custom-spacers ),
            "padding-left": (responsive: true,
                property: padding-left,
                class: pl,
                values: $custom-spacers ),
            "padding-right": (responsive: true,
                property: padding-right,
                class: pr,
                values: $custom-spacers ),
            "padding-x": (responsive: true,
                property: padding-left padding-right,
                class: px,
                values: $custom-spacers ),
            "padding-y": (responsive: true,
                property: padding-top padding-bottom,
                class: py,
                values: $custom-spacers ),
            'margin': (responsive: true,
                property: margin,
                class: m,
                values: $custom-spacers ),
            'margin-top': (responsive: true,
                property: margin-top,
                class: mt,
                values: $custom-spacers ),
        ));


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.woocommerce .woocommerce-ordering select {
    @extend .form-select;
}

.quantity .input-text,
.woocommerce .quantity .qty {
    @extend .form-control;
}

.woocommerce div.product form.cart .custom-add-to-cart-button {
    background-color: $primary;
    color: $white;
    border: 1px solid #000;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.woocommerce span.onsale {
    background-color: $primary;
    color: $white;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price .custom-price {
    color: $primary-text-emphasis;
    font-size: $font-size-base * 1.5;
    font-weight: bold;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price {
    color: $primary-text-emphasis;
    font-size: $font-size-base * 1.5;
    font-weight: bold;
}

.woocommerce ul.products li.product .button {
    background-color: $primary;
    color: $white;
    border: 1px solid #000;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.woocommerce img,
.woocommerce-page img {
    aspect-ratio: 1 1;
    width: 40px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 50%
}

.woocommerce-info {
    border-top: $primary 3px solid;

    &::before {
        color: $primary;
    }
}

.w-fit-content {
    width: fit-content !important;
}


@import 'bootstrap/scss/bootstrap';