.marquee-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.marquee-wrapper .marquee-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
}

.marquee-wrapper .marquee-content .card-testimonial {
  width: calc(100% / 6);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
  background-color: #c7c1bf;
  color: #f5f5f5;

  &:hover {
    background-color: #7c7a79;
  }
}

.marquee-wrapper .marquee-content .card-testimonial article picture {
  position: relative;
}

.marquee-wrapper .marquee-content .card-testimonial article picture img {
  width: 100%;
  height: 140px;
  border-radius: 0.5rem;
  // -o-object-fit: cover;
  // object-fit: cover;
  // -o-object-position: 50% 15%;
  // object-position: 50% 15%;
}

.marquee-wrapper .marquee-content .card-testimonial article h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin-block: 1rem;
}

.marquee-wrapper .marquee-content .card-testimonial article article.short-description p {
  font-family: var(--ff-heading);
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1.2rem;
}

@media (max-width: 1024px) {}

.scrollingX {
  animation: scroll 45s linear infinite;
}

.marquee-wrapper:hover .scrollingX {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}